<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>hello gzhipin-server</h2>
    <p>only providing API not doing renders back to main page</p>
  </body>
</html>